.thing-form {
	margin: 20px 0;
}

#banner {
	border-bottom: none;
	margin-top: -20px;
	margin-bottom: 20px;
	
	h1 {
	font-size: 60px;
	line-height: 1;
	letter-spacing: -1px;
	}

.logo{
	margin-bottom: 20px;
}
.lead{
	color: #1069b4;
}
}

.hero-unit {
	position: relative;
	padding: 30px 15px;
	color: #F5F5F5;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	background: #FFC038;
}

.footer {
	text-align: center;
	padding: 30px 0;
	margin-top: 70px;
	border-top: 1px solid #E5E5E5;
}

.beaconRow td{
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #FFC038;
}

.page-header{
	color: #1069b4;
	border-bottom: 1px solid #1069b4;
}

table{
	margin-top: 20px;
}

thead{
 border-bottom: 1px solid #1069b4;
}

.beaconForm{

	.row{
		margin-bottom: 10px;
	}
}

.button{
	background: #1069b4;
	border-radius: 5px;
	padding: 10px 40px;
	color: #FFC038;
	display: inline-block;
}


.status-section{
	text-align: center;

	.glyphicon-remove-sign{
		color: #CC0000;
	}

	.glyphicon-ok-sign{
		color: #00CC33;
	}
}


.pending-section{
	margin-top: 40px;
	
	margin-bottom: 40px;
	.icon-section{
		text-align: center
	}

	.glyphicon-remove{
		color: #CC0000;
	}

	.glyphicon-ok{
		color: #00CC33;
	}

}

