<div ng-include="'components/navbar/navbar.html'"></div>

<div ng-controller="AgentCtrl">
    <div class="container">


        <h1 class="page-header">Add an Agent:</h1>

        <form class="beaconForm">
            <div class="row">
                <label for="id" class="col-md-2">ID</label>
                <input type="text" name="id" ng-model="agent.customId" value="">
            </div>
            <div class="row">
                <label for="name" class="col-md-2">Name</label>
                <input type="text" name="name" ng-model="agent.name" value="">
            </div>
            <div class="row">
                <label for="location" class="col-md-2">Location</label>
                <input type="text" name="location" ng-model="agent.location" value="">
            </div>
            <div class="row">
                <label for="capabilities" class="col-md-2">Capabilities</label>
                <input type="text" name="capabilities" ng-model="agent.capabilities" value="">
            </div>
            <div class="row">
                <label for="lastSeen" class="col-md-2">Last Seen</label>
                <input type="text" name="lastSeen" ng-model="agent.lastSeen" value="" readonly>
            </div>
            <div class="row">
                <label for="registered" class="col-md-2">Registered</label>
                <input type="text" name="registered" ng-model="agent.registered" value="" readonly>
            </div>
            <div class="row">
                <label for="approvedStatus" class="col-md-2">Status</label>
                <select ng-model="agent.approvedStatus" name="approvedStatus" value="">
                    <option value="Pending">Pending</option>
                    <option value="Approved">Approved</option>
                    <option value="Denied">Denied</option>
                </select>
            </div>

            <div class="button" ng-click="submit(agent)">Submit</div>

        </form>
    </div>
</div>

