<div ng-include="'components/navbar/navbar.html'"></div>

<div ng-controller="BeaconCtrl">
  <div class="container">

   <h1 class="">ADD A BEACON</h1>
   <form class="beaconForm">
    <div class="row">
      <label for="name" class="col-md-2">Name</label>
      <input type="text" name="name" ng-model="beacon.name" value="">
    </div>
    <div class="row">
      <label for="uuid" class="col-md-2">UUID</label>
      <input type="text" name="uuid" ng-model="beacon.uuid" value="">
    </div>
    <div class="row">
      <label for="major" class="col-md-2">Major</label>
      <input type="text" name="major"  ng-model="beacon.major" value="">
    </div>
    <div class="row">
      <label for="minor" class="col-md-2">Minor</label>
      <input type="text" name="minor"  ng-model="beacon.minor" value="">
    </div>
    <div class="row">
      <label for="audio.filename" class="col-md-2">Audio Filename</label>
      <!--<input type="text" name="audioFilename"  ng-model="beacon.audio.filename" value="">-->
      <!--<select ng-model="selectedItem">-->
        <!--<option ng-repeat="item in items" value="{{item}}">{{item}}</option>-->
      <!--</select>-->
        <select ng-model="beacon.audio.filename" name="audioFilename" value="">
            <option value=""></option>
            <option value="big_brain.wav">big_brain.wav</option>
            <!--<option value="chewy.wav">chewy.wav</option>-->
            <option value="do_or_do_not.wav">do_or_do_not.wav</option>
            <option value="hello.mp3">hello.mp3</option>
            <option value="imperial.wav">imperial.wav</option>
            <option value="nananana.wav">nananana.wav</option>
            <!--<option value="r2-d2.wav">r2-d2.wav</option>-->
            <option value="satisfaction.wav">satisfaction.wav</option>
            <option value="sogood.wav">sogood.wav</option>
            <option value="streaking.wav">streaking.wav</option>
            <option value="technical.wav">technical.wav</option>
            <option value="matthew_mcconaughey.mp3">matthew_mcconaughey.mp3</option>
        </select>
    </div>
    <div class="properties">
      <h3>CUSTOM PROPERTIES</h3>
      <div class="row">
      <div class="col-md-12">
        <input type="text" name="" class="newKey"  ng-model="property.key" value="" placeholder="Property Key">
        <input type="text" name="" class="newValue" ng-model="property.value" value="" placeholder="Property Value">
         <span class="glyphicon glyphicon-plus" ng-click="addProperty(property)"></span>
         </div>
      </div>
  
      <div class="row property" ng-repeat="(key, value) in properties">
        <label for="property{{$index}}" class="col-md-2 key property{{$index}}">{{key}}</label>
        <input type="text" name="property{{$index}}" class="value property{{$index}}"  value="{{value}}">
        <span class="glyphicon glyphicon-minus" ng-click="delProperty(key)"></span>
      </div>


    </div>



    <div class="button" ng-click="submit(beacon)">Submit</div>

  </form>
</div>
</div>

