
<div class="col-lg-12">
    <div class="row">
        <h1 class="page-header">Beacon Detections:</h1>

        <div class="searchBar">
            <div class="col-md-11">
                <label for="search" class="col-md-2">Search:</label>
                <input name="search" ng-model="searchText">
            </div>

        </div>

        <table  class=" col-md-12">
            <thead>
            <tr>
                <th class="col-md-1"><a href="" ng-click="predicate = 'time'; reverse=false">Time</a></th>
                <th class="col-md-1"><a href="" ng-click="predicate = 'agentId'; reverse=false">Custom Agent ID</a></th>
                <th class="col-md-1"><a href="" ng-click="predicate = 'uuid'; reverse=!reverse">UUID</a></th>
                <th class="col-md-1"><a href="" ng-click="predicate = 'major'; reverse=!reverse">Major</a></th>
                <th class="col-md-1"><a href="" ng-click="predicate = 'minor'; reverse=!reverse">Minor</a></th>
                <th class="col-md-1"><a href="" ng-click="predicate = 'tx'; reverse=!reverse">TX</a></th>
                <th class="col-md-1"><a href="" ng-click="predicate = 'rssi'; reverse=!reverse">RSSI</a></th>
                <th class="col-md-1"><a href="" ng-click="predicate = 'proximity'; reverse=!reverse">Proximity</a></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="detection in detections |  orderBy:predicate:reverse | filter:searchText" ng-click="setSelected(beacon.id)" class="beaconRow">
                <td class="col-md-1">
                    <a href="/beacon/{{detection.uuid}}" >{{detection.time}}</a>
                </td>
                <td class="col-md-1">
                    <a href="/agent/{{detection.agentId}}" >{{detection.agentId}}</a>
                </td>
                <td class="col-md-1">
                    <a href="/beacon/{{detection.uuid}}" >{{detection.uuid}}</a>
                </td>
                <td class="col-md-1">
                    {{detection.major}}
                </td>

                <td class="col-md-1">
                    {{detection.minor}}
                </td>
                <td class="col-md-1">
                    {{detection.tx}}
                </td>
                <td class="col-md-1">
                    {{detection.rssi}}
                </td>
                <td class="col-md-1">
                    {{detection.proximity}}
                </td>
            </tr>
            </tbody>

        </table>

    </div>
</div>
