
<div class="col-lg-12">
    <div class="row">
        <h1 class="page-header">BEACONS</h1>

        <div class="searchBar">
            <div class="col-md-11">
                <label for="search" class="">Search</label>
                <input name="search" ng-model="searchText">
            </div>
            <div class="col-md-1">
                <span class="glyphicon glyphicon-plus add-btn" ng-click="addBeacon()"></span>
            </div>

        </div>

        <table  class=" col-md-12">
            <thead>
            <tr >
                <th class="col-md-3"><a href="" ng-click="predicate = 'name'; reverse=false">NAME</a></th>
                <th class="col-md-4"><a href="" ng-click="predicate = 'uuid'; reverse=!reverse">UUID</a></th>
                <th class="col-md-2"><a href="" ng-click="predicate = 'major'; reverse=!reverse">MAJOR</a></th>
                <th class="col-md-2"><a href="" ng-click="predicate = 'minor'; reverse=!reverse">MINOR</a></th>
                <th class="col-md-2"><a href="" ng-click="predicate = 'audioFilename'; reverse=!reverse">AUDIO FILENAME</a></th>
                <th class="col-md-1"><a href="" ng-click="predicate = 'minor'; reverse=!reverse">DELETE?</a></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="beacon in beacons |  orderBy:predicate:reverse | filter:searchText" ng-click="setSelected(beacon.id)" class="beaconRow">
                <td class="col-md-3"><a href="/beacon/{{beacon.id}}" >{{beacon.name}}</a></td>
                <td class="col-md-4">
                    {{beacon.uuid}}
                </td>
                <td class="col-md-2">
                    {{beacon.major}}
                </td>

                <td class="col-md-2">
                    {{beacon.minor}}
                </td>
                <td class="col-md-2">
                    {{beacon.audio.filename}}
                </td>
                <td class="col-md-1">
                    <span class="glyphicon glyphicon-minus minus-btn" ng-click="deleteBeacon(beacon)"></span>
                </td>
            </tr>
            </tbody>

        </table>

    </div>
</div>
