<div ng-include="'components/navbar/navbar.html'"></div>

    <header class="hero-unit" id="banner">
      <div class="container">
        <img class="logo" src="assets/images/logo.png" width="200" >
        <p class="lead">Register and Manage your beacons</p>

      </div>
    </header>



    <div class="container">

      <ul class="nav nav-tabs">
          <li ng-class="{active: main.active.tab == 'beacons' }">
              <a ng-click='main.active.tab = "beacons"'>Beacons</a>
          </li>
          <li ng-class="{active: main.active.tab == 'agents' }">
              <a ng-click='main.active.tab = "agents"'>Agents</a>
          </li>
      </ul>

      <div class="tab-content">
          <div ng-switch='main.active.tab'>
              <div ng-switch-when='beacons'>
                  <div ng-include src="'app/views/beaconsTab.html'"></div>
              </div>
              <div ng-switch-when='agents'>
                  <div ng-include src="'app/views/agentsTab.html'"></div>
              </div>
          </div>
      </div>

    </div>

</div>


